[submodule "chumi-backend/lib/forge-std"]
	path = chumi-backend/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "backed/lib/forge-std"]
	path = backed/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "backed/lib/openzeppelin-contracts"]
	path = backed/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
